
body {
    background-image: url("../assets/images/onepiece.jpg");

}

.imag1{
    position: relative;
    right: 40vw;
 width: 10vw;
 height: 7vh;
    top: -2vh;
}

nav{
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    background-color:#fbf1f3;
    line-height: 25px;
}

nav h1 , h2{
    position: absolute;
    left: 45vw;
}


.big, .input1{
   display: inline;
    position: absolute;
    width: 35vw;
    height: 35vh;
    background-color:#fbf1f3;
    top: 15vh;
}

.big{
  left: 8vw;
  right: 2vw;
}
.input1{
  left: 48vw;
}

.line{
    position: relative;
    top: 60vh;
    left: 5vw;
    width: 90vw;
    height: 10vh;
    border: 2px solid black;
    background-color: #fbf1f3;
}


.twitt{
  position: relative;
  width: 34vw;
  height: 10vh;
  left: 0.3vw;
}
